<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MobileOme</title>
    <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <section id="topMenu" class="col-md-12">
                <article  id="mobileOme" class="col-md-3">
                    MobileOme
                </article>
                <ul class="col-md-9">
                  <li class="col-md-3 col-md-offset-2"><a href="/">Accueil</a></li>
                  <li class="col-md-3"><a href="/realisations">Realisations</a></li>
                  <li class="col-md-3"><a href="/contact">Contact</a></li>
                </ul>
            </section>
        </nav>
    </header>

    <section>
        <article id="presentationText">
            <h2>Bienvenue chez MobileOme !</h2><br>
            <p>L'entreprise qui ne cesse d'innover dans le domaine des applications mobiles !</p>
        </article>

        <article id="DescriptionArticle" class="col-md-12">
            <div class="col-md-3 firstApp">
                <img src="./img/omeMap.png">
                <h2>OmeMap</h2>
                <p>Une application qui permet de localiser tous les magasins, restaurants, monuments et autres endroits divertissants eutour de vous !</p>
            </div>
            <div class="col-md-3 secondApp">
                <img src="./img/omeCook.png">
                <h2>OmeCook</h2>
                <p>Envie de cuisiner un plat digne de ce nom ? <br>
                N'attendez pas plus longtemps et venez apprendre à cuisiner avec OmeCook !<br>
                Retrouvez plus de 10 milles recettes de cuisines provenant du monde entier.</p>
            </div>
            <div class="col-md-3 thirdApp">
                <img src="./img/omeFStats.png">
                <h2>OmeStats</h2>
                <p>Vous voulez regarder ce qu'il se passe chez votre équipe de coeur ? <br>
                Retrouvez toutes les statistiques de toutes les équipes de football américain !</p>
            </div>
        </article>

        <article id="DescriptionArticle" class="col-md-12">
            <p>
                <b>MobileOme</b> est une entreprise innovante qui développe des applications mobiles (Android et Apple Swift) divers et variées.<br>
                Nous proposons des services en rapport avec la musique, l'actualité dans le monde, les jeux mobiles, etc.<br>
                Envie de gérer vos photos et vidéos plus facilement ? Les modifier grâce aux nombreux filtres ?
                Venez tester notre solution qui regroupe <b>photothèque</b> et <b>vidéothèque</b> innovantes !
            </p>
        </article>
    </section>

    <footer class="col-md-12">
        <section class="col-md-12">
            <article class="col-md-6">
                <h3>Adresse :</h3>
                <p>139, rue des Pyrénnées, 75020 Paris</p>
            </article>
            <article class="col-md-6">
                <h3>Contact :</h3>
                <p>Email : mobileOme@contact.com</p>
                <p>Tel : 0123456789</p>
            </article>
        </section>
    </footer>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>