<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MobileOme</title>
    <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
    <header>
        <nav>
            <section id="topMenu" class="col-md-12">
                <article  id="mobileOme" class="col-md-3">
                    MobileOme
                </article>
                <ul class="col-md-9">
                    <li class="col-md-3 col-md-offset-2"><a href="/">Accueil</a></li>
                    <li class="col-md-3"><a href="/realisations">Realisations</a></li>
                    <li class="col-md-3"><a href="/contact">Contact</a></li>
                </ul>
            </section>
        </nav>
    </header>
    <section class="container-fluid">
        <article class="panels col-md-4 ">
            <img class="col-md-5" src="./img/omeCook.png" width="150" height="150">
            <p class="appTitle">OmeCook</p>
            <p class="appBody">OmeCook est une application qui vous permettera d'en apprendre toujours plus sur la cuisine et d'enrichir vos capacités culinaires</p>
        </article>
        <article class="panels col-md-4 ">
            <img class="col-md-5" src="./img/omeFStats.png" width="150" height="150">
            <p class="appTitle">OmeStats</p>
            <p class="appBody">Cette application vous permettera de suivre en continu vos équipes et ligues favorites dans le monde du foot Américain</p>
        </article>
        <article class="panels col-md-4">
            <img class="col-md-5" src="./img/omeMap.png" width="150" height="150">
            <p class="appTitle">OmeMap</p>
            <p class="appBody">Une application complète de localisation de centres d'interêt qui vous assure un localisation précise et accéssible.</p>
        </article>
        <article class="panels col-md-4">
            <img class="col-md-5" src="./img/omeMusic.png" width="150" height="150">
            <p class="appTitle">OmeMusic</p>
            <p class="appBody">OmeMusic est une plateforme de streaming de music qui vous laissera écouter vos titres favoris en continu sans publicité ni annonces génantes.</p>
        </article>
        <article class="panels col-md-4">
            <img class="col-md-5" src="./img/omeNews.png" width="150" height="150">
            <p class="appTitle">OmeNews</p>
            <p class="appBody">Une application de suivi d'actualité n'aura jamais été aussi simple à utiliser tout en conservant un contenu complet et varié</p>
        </article>
        <article class="panels col-md-4">
            <img class="col-md-5" src="./img/omeShop.png" width="150" height="150">
            <p class="appTitle">OmeShop</p>
            <p class="appBody">Envie d'une petite folie, les grandes enseignes ne sont plus avantageuses. Optez pour OmeShop l'application de vente / achat de particulier à particulier</p>
        </article>
        <article class="panels col-md-4 col-md-offset-4">
            <img class="col-md-5" src="./img/omeSmart.png" width="150" height="150">
            <p class="appTitle">OmeSmart</p>
            <p class="appBody">OmeSmart est l'application de gestion de domotique approuvée par la totalité de nos partenaires et qui fait l'unanimité au sein du monde informatique</p></article>
    </section>
</body>
</html>